@mixin row-column{
    display: flex;
	flex-direction: row;
	padding: 10px 40px;
	width: 100%;
	margin-top: 48px;
    h2{
        line-height: 1.2;
        margin-bottom: 24px;
    }
    .description-container{
        padding-right: 24px;
    }
}

@mixin column-img{
	width: 50%;
}

@mixin column-description{
    display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
}

@mixin responsive{
    flex-direction: column;
    width: 100%;
}