@import "mixins";
@import "variables";

html {
    scroll-behavior: smooth;
}

/*General styling*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: auto;
    font-family: 'Lato', sans-serif;
    width: 100%;
  }

h1 {
    font-size: clamp(2rem, 3vw, 3rem);
}
  
h2 {
    font-size: clamp(1.72rem, 3vw, 2.5rem);
}
  
h4 {
    font-size: clamp(20px, 2.5vw, 24px);
}
h1, h2, h3{
    font-family: 'Helvetica Neue', sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: $fontColor;
}
button{
    color: #fff;
    border: unset;
    padding: 15px 0px;
    background-color: $buttonColor;
    font-size: 16px;
    border-radius: 8px;
    font-family: inherit;
    min-width: 150px;
    transition: 0.3s;
    &:hover{
        background-color: rgb(78, 201, 238);
        transition: 0.3s;
    }
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none !important;
    color: #fff;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.link-color{
    color: #263250 !important;
}
/*=======NAVIGATION BAR STYLING========*/
nav{
	background: $secondaryColor;
	height: 60px;
	width: 100%;
    ul{
        float: right;
        margin-right: 20px;
    }
    li{
        display: inline-block;
        line-height: 60px;
        margin: 0 5px;
        a{
            color: $fontColor;
            padding: 10px;
        }
    }
}
label.logo{
	padding: 0 40px;
}
.checkbtn{
	float: right;
	line-height: 60px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
    img{
        width: 40px;
        height: auto;
        margin-top: 10px;
    }
}
#check{
	display: none;
}
label.logo{
    img{
        width: 45px;
        height: auto;
        margin-top: 6px;
    }
	
}

@media only screen and (max-width: 952px){
	label.logo{
		img{
            width: 35px;
            margin-top: 12px;
        }
	}
	nav{
        li{
            a{
                font-size: 16px;      
            }
        }
    } 
}

@media only screen and (max-width: 858px){
    .checkbtn{
		display: block;
	}
    #check:checked ~ ul{
		left: 0;
	}
    nav{
        ul{
            position: fixed;
            width: 100%;
            height: 100vh;
            background-color: $secondaryColor;
            top: 60px;
            left: -100%;
            text-align: center;
            transition: all 0.5s;
        }
        li{
            display: block;
            margin: 50px 0;
            line-height: 30px;
        }
    }
}
/*=======END OF NAVIGATION BAR STYLING========*/


/*=======HERO SECTION STYLING========*/
.hero-section{
    @include row-column;
    
    .description-container{
        @include column-description;
        margin-right: 24px;
        width: 65%;
        h1{
            margin-bottom: 24px;
        }
        a.underline{
            text-decoration: underline;
        }
        button{
            margin-top: 24px;
            max-width: 150px !important;
        }

    }
    .image-container{
        @include column-img;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            max-width: 80%;
            height: auto;
            margin: auto;
        }
    }
}

@media (max-width: 760px){
    .hero-section{
        @include responsive;

        .description-container, .image-container{
            width: 100%;
            padding-right: unset;
        }
        .description-container{
            width: 100%;
            margin-bottom: 60px;
        }
    }
}

/*=======END OF HERO SECTION STYLING========*/

.brand-section{
    margin: 96px 0;
    background-color: $secondaryColor;
    padding: 24px;
    width: 100%;
    h2{
        text-align: center;
        margin-bottom: 48px;
    }
}

.brand-list-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
    flex-flow: row wrap;
    gap: 12px;
    .brand-list{
        background-color: #fff;
        padding: 24px;
        width: 100px;
        height: 80px;
    }
    img.brand-img{
        width: 80px;
        height: auto;
    }
}

/*========SERVICE SECTION STYLING======*/
.service-section{
    margin-bottom: 48px;
    h2{
        margin-bottom: 48px;
        text-align: center;
    }
    .service-wrapper{
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 24px;
        padding: 10px;
    }
    .service-list{
        display: flex;
        flex-direction: column;
        background-color: $secondaryColor;
        padding: 12px;
        span{
            width: 48px;
            height: 48px;
            padding: 12px;
            border-radius: 50%;
            margin-bottom: 24px;
        }
        .accentColor-1{
            background-color: $accentColor-1;
        }
        .accentColor-2{
            background-color: $accentColor-2;
        }
        .accentColor-3{
            background-color: $accentColor-3;
        }
        img{
            width: 24px;
            height: auto;
        }
        h4{
            margin-bottom: 12px;
        }
    }
}
/*========END OF SERVICE SECTION STYLING======*/


/*========PROJECT SECTION STYLING======*/
.project-section{
    margin: 96px 48px;
    h2{
        text-align: center;
        margin-bottom: 48px;
    }
}

.project-wrapper{
    display: flex;
	flex-flow: row wrap;
	align-items: baseline;
	justify-content: center;
    .project-list{
        display: inline-block; /* Make the width of box same as image */
        margin: 10px;
        position: relative;
        img{
            background: #34495e;
            max-width: 500px;
            max-height: 600px;
            object-fit: cover;
            object-position: center;
        }
        .absolute-btn{
            position: absolute;
            z-index: 10;
            left: 24px;      
        }
        .easy-flip{
            bottom: 20%;
        }
        .ventri{
            top: 24%;
            left: 48px;
        }
        .green-poult{
            bottom: 30%;
        }
    }
    
}

@media (max-width: 600px){
    .project-wrapper{
        align-items: flex-start;
        .project-list{
            .absolute-btn{
                left: 12px;
            }
            .ventri{
                left: 40px;
            }
        }
        img{
            width: 100%;
            height: auto;
        }
    }
}


.footer-wrapper{
    text-align: center;
    .bold{
        font-weight: bold;
        color: #263250;
        transition: 0.3s;
        &:hover{
            text-decoration: underline;
            transition: 0.3s;
        }
    }
    .social-links{
        margin: 12px 0 48px;
    }
    .svg-icon{
        background-color: $iconBackground;
        padding: 6px;
        margin-right: 24px;
        width: 32px;
        height: auto;
        img{
            width: 24px;
            height: auto;
            position: relative;
            top: 4px;
        }
    }
    hr{
        margin-top: 24px;
        max-width: 900px;
        margin: auto;
    }
}
.buttom-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 48px;
    img{
        width: 32px;
        height: auto;
        position: relative;
        left: -20%;
    }
}