html {
  scroll-behavior: smooth;
}

/*General styling*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  font-family: "Lato", sans-serif;
  width: 100%;
}

h1 {
  font-size: clamp(2rem, 3vw, 3rem);
}

h2 {
  font-size: clamp(1.72rem, 3vw, 2.5rem);
}

h4 {
  font-size: clamp(20px, 2.5vw, 24px);
}

h1, h2, h3 {
  font-family: "Helvetica Neue", sans-serif;
  color: rgb(51, 51, 51);
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: rgb(51, 51, 51);
}

button {
  color: #fff;
  border: unset;
  padding: 15px 0px;
  background-color: rgb(38, 50, 80);
  font-size: 16px;
  border-radius: 8px;
  font-family: inherit;
  min-width: 150px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
button:hover {
  background-color: rgb(78, 201, 238);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  text-decoration: none !important;
  color: #fff;
}

li {
  list-style: none;
  color: rgb(51, 51, 51);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link-color {
  color: #263250 !important;
}

.margin-top {
  margin-top: 24px;
}

header.heading {
  max-width: 250px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 48px;
}
header.heading h2 {
  margin-bottom: 12px;
}
header.heading .heading-underline {
  width: 100px;
  height: 3px;
  bottom: -8px;
  background-color: #000;
}

header.heading-exception {
  max-width: 600px;
}

@media (max-width: 1028px) {
  header.heading {
    max-width: 200px;
  }
}
@media (max-width: 800px) {
  header.heading-exception {
    max-width: 400px;
  }
}
@media (max-width: 400px) {
  header.heading-exception .heading-underline {
    display: none;
  }
}
/*header.heading{
    position: relative;
    .heading-underline{
        position: absolute;
        width: 100px;
        height: 3px;
        bottom: -8px;
        background-color: #000;
    }
    .brand{
        left: 29.5%;
    }
    .service{
        left: 41%;
    }
    .experience{
        left: 0%;
    }
}

@media (max-width: 800px){
    header.heading{
        position: relative;
        .heading-underline{
            position: absolute;
            width: 100px;
            height: 3px;
            bottom: -8px;
            background-color: #000;
        }
        .brand{
            left: 29.5%;
        }
        .service{
            left: 41%;
        }
        .experience{
            left: 0%;
        }
    }
}


@media (max-width: 500px){
    header.heading{
        .brand{
            left: 8%;
        }
        .service{
            left: 35%;
        }
        .experience{
            left: 0%;
        }
    }
}*/
.waving {
  width: 32px;
  height: auto;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.flex-row .image-container {
  width: 50%;
}
.flex-row .image-container img {
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.flex-row .description-container {
  width: 50%;
}
.flex-row .description-container h4 {
  margin-bottom: 12px;
}
.flex-row .description-container p {
  margin-bottom: 12px;
}
.flex-row .description-container main {
  margin-bottom: 24px;
}

@media (max-width: 800px) {
  .flex-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flex-row .image-container, .flex-row .description-container {
    width: 100%;
  }
  .flex-row .description-container {
    margin-top: 48px;
  }
  .flex-row .image-container img {
    width: 90%;
  }
}
/*=======NAVIGATION BAR STYLING========*/
nav {
  background: rgb(250, 250, 250);
  height: 60px;
  width: 100%;
  z-index: 999999;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav li {
  display: inline-block;
  line-height: 60px;
  margin: 0 5px;
}
nav li a {
  color: rgb(51, 51, 51);
  padding: 10px;
}

nav.bg-exception {
  background-color: rgb(255, 255, 255);
}

label.logo {
  padding: 0 40px;
}

.checkbtn {
  float: right;
  line-height: 60px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
.checkbtn img {
  width: 40px;
  height: auto;
  margin-top: 10px;
}

#check {
  display: none;
}

label.logo img {
  width: 45px;
  height: auto;
  margin-top: 6px;
}

@media only screen and (max-width: 952px) {
  label.logo img {
    width: 35px;
    margin-top: 12px;
  }

  nav {
    position: fixed;
    top: 0;
  }
  nav li a {
    font-size: 16px;
  }
}
@media only screen and (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  #check:checked ~ ul {
    left: 0;
  }

  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(250, 250, 250);
    top: 60px;
    left: -100%;
    text-align: center;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 99999;
  }
  nav li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
}
/*=======END OF NAVIGATION BAR STYLING========*/
/*=======HERO SECTION STYLING========*/
.hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 40px;
  width: 100%;
  margin-top: 48px;
}
.hero-section h2 {
  line-height: 1.2;
  margin-bottom: 24px;
}
.hero-section .description-container {
  padding-right: 24px;
}
.hero-section .description-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  margin-right: 24px;
  width: 65%;
}
.hero-section .description-container h1 {
  margin-bottom: 24px;
}
.hero-section .description-container a.underline {
  text-decoration: underline;
}
.hero-section .description-container button {
  margin-top: 24px;
  max-width: 150px !important;
}
.hero-section .image-container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero-section .image-container img {
  max-width: 80%;
  height: auto;
  margin: auto;
}

@media (max-width: 952px) {
  .hero-section {
    margin-top: 90px;
  }

  .bio-section {
    margin-top: 72px;
  }
}
@media (max-width: 760px) {
  .hero-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .hero-section .description-container, .hero-section .image-container {
    width: 100%;
    padding-right: unset;
  }
  .hero-section .description-container {
    width: 100%;
    margin-bottom: 60px;
  }
  .hero-section .image-container img {
    width: 100%;
  }
}
/*=======END OF HERO SECTION STYLING========*/
.brand-section {
  margin: 96px 0;
  background-color: rgb(250, 250, 250);
  padding: 24px;
  width: 100%;
}
.brand-section h2 {
  text-align: center;
  margin-bottom: 48px;
}

.brand-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 48px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 12px;
}
.brand-list-container .brand-list {
  background-color: #fff;
  padding: 24px;
  width: 100px;
  height: 80px;
}
.brand-list-container img.brand-img {
  width: 80px;
  height: auto;
}

/*========SERVICE SECTION STYLING======*/
.service-section {
  margin-bottom: 48px;
}
.service-section h2 {
  margin-bottom: 48px;
  text-align: center;
}
.service-section .service-wrapper {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
  padding: 10px;
}
.service-section .service-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgb(250, 250, 250);
  padding: 24px;
}
.service-section .service-list span {
  width: 48px;
  height: 48px;
  padding: 12px;
  border-radius: 50%;
  margin-bottom: 24px;
}
.service-section .service-list .accentColor-1 {
  background-color: rgb(231, 164, 168);
}
.service-section .service-list .accentColor-2 {
  background-color: rgb(164, 215, 231);
}
.service-section .service-list .accentColor-3 {
  background-color: rgb(226, 164, 231);
}
.service-section .service-list img {
  width: 24px;
  height: auto;
}
.service-section .service-list h4 {
  margin-bottom: 12px;
}

/*========END OF SERVICE SECTION STYLING======*/
/*========PROJECT SECTION STYLING======*/
.project-section {
  margin: 96px 48px;
  padding: 12px;
}
.project-section h2 {
  text-align: center;
  margin-bottom: 48px;
}

.project-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.project-wrapper .project-list {
  display: inline-block;
  /* Make the width of box same as image */
  margin: 10px;
  position: relative;
}
.project-wrapper .project-list img {
  background: #34495e;
  max-width: 500px;
  max-height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.project-wrapper .project-list .coming-soon {
  position: relative;
  -webkit-filter: brightness(0.3);
          filter: brightness(0.3);
}
.project-wrapper .project-list .overlay {
  position: absolute;
  inset: 50% 35%;
  width: 50%;
  color: #fff;
  font-size: 20px;
}
.project-wrapper .project-list .absolute-btn {
  position: absolute;
  z-index: 10;
  left: 24px;
}
.project-wrapper .project-list .easy-flip {
  bottom: 20%;
}
.project-wrapper .project-list .ventri {
  top: 24%;
  left: 48px;
}
.project-wrapper .project-list .green-poult {
  bottom: 30%;
}

@media (max-width: 600px) {
  .project-wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .project-wrapper .project-list .absolute-btn {
    left: 12px;
  }
  .project-wrapper .project-list .ventri {
    left: 40px;
  }
  .project-wrapper img {
    width: auto;
    height: 350px;
  }
}
@media (max-width: 350px) {
  .project-wrapper img {
    width: auto;
    height: 300px;
  }
}
footer {
  background-color: rgb(250, 250, 250);
  padding: 40px 6px;
}

.footer-wrapper {
  text-align: center;
}
.footer-wrapper .bold {
  font-weight: bold;
  color: #263250;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer-wrapper .bold:hover {
  text-decoration: underline;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer-wrapper .social-links {
  margin: 12px 0 48px;
}
.footer-wrapper .svg-icon {
  background-color: rgb(38, 50, 80);
  padding: 10px;
  margin-right: 24px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.footer-wrapper .svg-icon:hover {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  padding: 15px;
  border-radius: 5px;
}
.footer-wrapper .svg-icon img {
  width: 24px;
  height: auto;
  position: relative;
  top: 4px;
}
.footer-wrapper hr {
  margin-top: 48px;
  max-width: 900px;
  margin: auto;
}

.buttom-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 24px;
  margin-bottom: 48px;
}
.buttom-footer img {
  width: 32px;
  height: auto;
  position: relative;
  left: -20%;
}

@media (max-width: 500px) {
  .buttom-footer img {
    left: -10%;
  }
}
@media (max-width: 380px) {
  .buttom-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .buttom-footer img {
    left: 0%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 12px;
  }
}
/*=========END OF FOOTER STYLING======*/
/*======ABOUT PAGE STYLING========*/
.about-page-wrapper {
  padding: 36px;
}
.about-page-wrapper .service-section {
  margin-top: 48px;
}

.bio-section header h4, .bio-section header h1 {
  margin-bottom: 24px;
}

.paragraph-group p {
  margin-bottom: 12px;
}
.paragraph-group p a {
  color: #263250 !important;
  text-decoration: underline;
}

.image-showcase {
  margin: 24px 0;
}
.image-showcase .img-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 24px;
}
.image-showcase .img-group img {
  width: 30%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

@media (max-width: 780px) {
  .image-showcase .img-group img {
    width: 45%;
    height: auto;
  }
}
@media (max-width: 550px) {
  .about-page-wrapper {
    padding: 24px;
  }

  .image-showcase .img-group {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .image-showcase .img-group img {
    width: 80%;
    height: auto;
  }
}
@media (max-width: 480px) {
  .image-showcase .img-group img {
    width: 100%;
    height: auto;
  }
}
/*--------WORK EXPERIENCE SECTION-----*/
.experience-section {
  max-width: 600px;
  margin-bottom: 114px;
}
.experience-section h2 {
  margin-bottom: 48px;
}

.experience-list {
  margin-bottom: 48px;
}
.experience-list header {
  margin-bottom: 12px;
}
.experience-list li {
  margin-bottom: 12px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.experience-list li img {
  width: 10px;
  height: auto;
  margin: 6px 12px 0 0;
}

/*--------END OF WORK EXPERIENCE SECTION-----*/
/*===========END OF ABOUT PAGE STYLING============*/
/*=========CASE STUDY STYLING===========*/
@media only screen and (max-width: 858px) {
  .banner-section {
    margin-top: 60px;
  }
}
.case-study h1, .case-study h2, .case-study h3 {
  color: rgb(38, 50, 80);
}

.banner-section img {
  width: 100%;
  height: auto;
}

.project-info {
  margin-top: 48px;
}

.about-easy {
  max-width: 500px;
  margin: auto;
  text-align: center;
  padding: 0 24px;
}
.about-easy h2 {
  margin-bottom: 12px;
}

/*---------PROJECT OBJECTIVE STYLING--------*/
.project-objective {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 24px;
  width: 100%;
  margin-top: 114px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgb(250, 220, 224);
}
.project-objective .image-container {
  width: 50%;
}
.project-objective .image-container img {
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: relative;
  top: -20%;
}
.project-objective .description-container {
  width: 50%;
  margin-top: 48px;
}
.project-objective .description-container h2 {
  margin-bottom: 12px;
}
.project-objective .description-container p {
  margin-bottom: 12px;
  max-width: 400px;
}
.project-objective .description-container li {
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.project-objective .description-container li img {
  width: 10px;
  height: auto;
  margin: 6px 12px 0 0;
}

@media (max-width: 800px) {
  .project-objective {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 96px;
  }
  .project-objective .image-container, .project-objective .description-container {
    width: 100%;
  }
  .project-objective .image-container img {
    width: 90%;
  }
}
/*---------END OF PROJECT OBJECTIVE STYLING-------*/
/*--------DESIGN PROCESS STYLING--------*/
.design-process {
  background-color: rgb(250, 211, 216);
  padding: 24px;
  margin-bottom: 60px;
}
.design-process h2 {
  position: relative;
  top: 12px;
}
.design-process img {
  width: 90%;
  height: auto;
  margin: auto;
}

/*--------DESIGN PROCESS STYLING--------*/
/*--------Competitive Analysis STYLING--------*/
.competitive-analysis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 600px;
  margin: auto;
  padding: 0 24px;
}
.competitive-analysis h2 {
  margin-bottom: 48px;
  text-align: center;
}
.competitive-analysis .image-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.competitive-analysis .image-group img {
  width: 100px;
  height: auto;
}
.competitive-analysis .caption {
  text-align: center;
  font-style: italic;
  margin: 12px 0 24px;
}
.competitive-analysis p {
  margin-bottom: 12px;
}

/*--------END OF Competitive Analysis STYLING--------*/
/*--------User Research STYLING--------*/
.user-research {
  background-color: rgb(250, 220, 224);
  padding: 24px;
}
.user-research h2 {
  margin: 24px 0;
}
.user-research p {
  margin-bottom: 12px;
  max-width: 950px;
}
.user-research li {
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 500px;
}
.user-research li img {
  width: 10px;
  height: auto;
  margin: 6px 12px 0 0;
}

/*--------End of User Research STYLING--------*/
/*--------Empathy Map STYLING--------*/
.empathy-map {
  margin-top: 60px;
  text-align: center;
  padding: 24px 0;
}
.empathy-map h2 {
  margin-bottom: 24px;
}
.empathy-map img {
  width: 90%;
  height: auto;
}

/*--------End of Empathy Map STYLING--------*/
/*--------User Persona STYLING--------*/
.user-persona {
  background-color: rgb(250, 220, 224);
  padding: 24px;
}
.user-persona h2 {
  margin: 12px 0;
}
.user-persona p {
  margin-bottom: 24px;
}
.user-persona img {
  width: 65%;
  height: auto;
  margin-bottom: 24px;
}

@media (max-width: 900px) {
  .user-persona img {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .user-persona img {
    width: 100%;
  }
}
/*--------End of User Persona STYLING--------*/
/*--------The Solution STYLING--------*/
.solution-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 12px 24px;
  margin-top: 60px;
  background-color: rgb(250, 211, 216);
}
.solution-section .description-container {
  width: 50%;
}
.solution-section .description-container h2 {
  margin-bottom: 24px;
}
.solution-section li {
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 500px;
}
.solution-section li img {
  width: 10px;
  height: auto;
  margin: 6px 12px 0 0;
}
.solution-section .image-container {
  width: 50%;
}
.solution-section .image-container img {
  width: 70%;
}

@media (max-width: 800px) {
  .solution-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 96px;
  }
  .solution-section .image-container, .solution-section .description-container {
    width: 100%;
  }
  .solution-section .description-container {
    margin-top: 48px;
  }
  .solution-section .image-container img {
    width: 90%;
  }
}
/*--------End of The Solution STYLING--------*/
/*--------User Flow STYLING--------*/
.user-flow {
  text-align: center;
  margin-top: 72px;
}
.user-flow h2 {
  margin-bottom: 24px;
}
.user-flow img {
  width: 80%;
  height: auto;
}

@media (max-width: 500px) {
  .user-flow img {
    width: 100%;
  }
}
/*--------End of User Flow STYLING--------*/
/*--------Sketch STYLING--------*/
.sketch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 24px;
  width: 100%;
  margin-top: 114px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgb(250, 220, 224);
}
.sketch .image-container {
  width: 50%;
}
.sketch .image-container img {
  width: 100%;
  height: auto;
}
.sketch .description-container {
  width: 50%;
  margin-top: 48px;
  margin-left: 24px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.sketch .description-container h2 {
  margin-bottom: 12px;
}
.sketch .description-container p {
  margin-bottom: 12px;
  max-width: 400px;
}

@media (max-width: 800px) {
  .sketch {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 96px;
  }
  .sketch .image-container, .sketch .description-container {
    width: 100%;
  }
  .sketch .description-container {
    margin-left: unset;
  }
}
/*--------End of Sketch STYLING--------*/
/*--------wireframe STYLING--------*/
.lofi-wireframe {
  margin-top: 96px;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.lofi-wireframe header {
  max-width: 600px;
  text-align: center;
}
.lofi-wireframe h2 {
  margin-bottom: 12px;
}
.lofi-wireframe img {
  width: 80%;
  height: auto;
  margin-top: 48px;
}

/*--------End of Wireframe STYLING--------*/
/*--------Project Screens STYLING--------*/
.project-screens {
  background-color: rgb(250, 220, 224);
  padding-top: 24px;
}
.project-screens .head-title {
  margin-top: 48px;
  margin-bottom: 48px;
  text-align: center;
}
.project-screens .screens-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 24px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
  background-color: rgb(250, 211, 216);
  height: 400px;
}
.project-screens .screens-layout .description-container {
  width: 50%;
}
.project-screens .screens-layout .description-container h2 {
  margin-bottom: 12px;
}
.project-screens .screens-layout .description-container p {
  max-width: 700px;
}
.project-screens .screens-layout .image-container {
  width: 50%;
}
.project-screens .screens-layout .image-container img {
  width: 70%;
  height: auto;
  margin-bottom: 60px;
}

.other-screens {
  margin-top: 60px;
  padding: 24px;
}
.other-screens h2 {
  margin-bottom: 24px;
}
.other-screens img {
  width: 100%;
  height: auto;
  margin-top: 12px;
}

@media (max-width: 800px) {
  .project-screens .screens-layout {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 96px;
    height: auto;
  }
  .project-screens .screens-layout .image-container, .project-screens .screens-layout .description-container {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .project-screens .screens-layout .description-container {
    margin-left: unset;
  }
  .project-screens .screens-layout .image-container img {
    width: 90%;
    height: auto;
    margin-bottom: unset;
    margin-top: 24px;
  }
}
/*--------End of Project Screens STYLING--------*/
.conclusion {
  background-color: rgb(250, 220, 224);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 24px;
  margin: 96px 0;
}
.conclusion h2 {
  margin-bottom: 24px;
  text-align: center;
}
.conclusion p {
  max-width: 900px;
  margin: auto;
  text-align: center;
}
.conclusion p.bold {
  font-weight: 600;
  margin-top: 48px;
}

.style-guide {
  margin: 60px 0;
  padding: 24px;
}
.style-guide img {
  width: 80%;
  height: auto;
}

/*=========END OF EASY FLIP MOBILE APP CSS STYLIng=========*/
/*=========VENTRI MOBILE APP CSS STYLING=========*/
.ventri h4 {
  color: rgb(38, 50, 80);
}

.ventri-banner {
  padding: 0 24px;
}

.about-project {
  padding: 24px;
  margin: 60px 0;
}
.about-project h2 {
  margin-bottom: 24px;
}
.about-project .image-container {
  /*.empty-box{
      background-color: rgba(164, 215, 231, 1);
      width: 80%;
      height: auto;
      position: absolute;
  }*/
}
.about-project .image-container img {
  position: relative;
  top: 20px;
}

@media (max-width: 800px) {
  .about-project {
    margin: 24px 0;
  }
}
/*-----BUSINESS OPPORTUNITIES STYLING-----*/
.bussiness-opportunity {
  padding: 24px;
  text-align: center;
  margin-bottom: 12px;
  max-width: 900px;
  margin: auto;
}
.bussiness-opportunity h2 {
  margin-bottom: 24px;
}

/*-----END OF BUSINESS OPPORTUNITIES STYLING-----*/
/*-----Target Audience STYLING-----*/
.target-audience {
  margin-top: 60px;
  padding: 24px;
  text-align: center;
  max-width: 900px;
  margin: auto;
}
.target-audience h2 {
  margin-bottom: 24px;
}
.target-audience .img-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.target-audience img {
  width: 40%;
  height: auto;
  margin: 24px;
}
.target-audience .margin-top {
  position: relative;
  top: 24px;
}

@media (max-width: 544px) {
  .target-audience .img-group {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .target-audience img {
    width: 70%;
  }
  .target-audience .margin-top {
    top: 0;
  }
}
@media (max-width: 400px) {
  .target-audience img {
    width: 90%;
  }
}
/*-----END OF Target Audience STYLING-----*/
/*-----DESIGN PROCESS STYLING-----*/
.artifact {
  text-align: center;
  margin-top: 60px;
}
.artifact .design-process {
  padding: 24px;
  background-color: rgb(164, 215, 231);
}
.artifact h2 {
  margin-bottom: 24px;
}
.artifact img {
  width: 80%;
  height: auto;
}

@media (max-width: 600px) {
  .artifact .design-process {
    padding: 12px;
  }
  .artifact img {
    width: 100%;
    height: auto;
  }
}
/*-----END OF DESIGN PROCESS STYLING-----*/
.key-findings {
  background-color: unset !important;
}

/*-----USER CHALLENGES SECTION STYLING----*/
.challenges {
  background-color: rgb(164, 215, 231);
  padding: 24px;
  margin: 60px 0;
}
.challenges h2 {
  margin-bottom: 24px;
}
.challenges p {
  margin-bottom: 12px;
}
.challenges li {
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 500px;
}
.challenges li img {
  width: 10px;
  height: auto;
  margin: 6px 12px 0 0;
}

/*-----END OF USER CHALLENGES SECTION STYLING----*/
/*-----END OF PROPOSED SOLUTION SECTION STYLING----*/
.proposed-solution {
  padding: 24px;
}
.proposed-solution h2 {
  margin-bottom: 24px;
}
.proposed-solution main h4 {
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 500px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.proposed-solution main h4 img {
  width: 10px;
  height: auto;
  margin: 6px 12px 0 0;
}
.proposed-solution main div {
  max-width: 500px;
  margin-bottom: 24px;
}

@media (max-width: 800px) {
  .proposed-solution .flex-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
/*-----PROPOSED SOLUTION SECTION STYLING----*/
/*-------EMPATHY MAP SECTION-----*/
.empathy-map__ventri {
  padding: 24px;
}
.empathy-map__ventri h2 {
  margin-bottom: 24px;
}
.empathy-map__ventri .img-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.empathy-map__ventri .img-group img {
  width: 40%;
  height: auto;
}

@media (max-width: 600px) {
  .empathy-map__ventri .img-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .empathy-map__ventri .img-group img {
    width: 100%;
    height: auto;
  }
}
/*-------END OF EMPATHY MAP SECTION-----*/
/*-------USER PERSONA SECTION STYLING-----*/
.user-persona__ventri {
  margin: 60px 0;
  padding: 24px;
}
.user-persona__ventri h2 {
  margin-bottom: 24px;
  text-align: center;
}
.user-persona__ventri .img-group {
  max-width: 800px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.user-persona__ventri .img-group img {
  width: 100%;
  height: auto;
}

/*-------END OF USER PERSONA SECTION STYLING-----*/
.user-flow__ventri {
  padding: 24px;
  background-color: rgb(164, 215, 231);
}
.user-flow__ventri main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.user-flow__ventri .flow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 600px;
  height: auto;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}
.user-flow__ventri .user-buyer {
  width: 70%;
  height: auto;
}
.user-flow__ventri .user-merchant {
  width: 10%;
  height: auto;
}

/*------SKETCH SECTION STYLING------*/
.sketch__ventri {
  margin: 60px 0;
  padding: 24px;
}
.sketch__ventri h2, .sketch__ventri p {
  text-align: center;
  margin: auto;
  margin-bottom: 24px;
  max-width: 600px;
}
.sketch__ventri .img-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
  margin-top: 24px;
  width: 90%;
  margin: auto;
}
.sketch__ventri .img-group img {
  width: 25%;
  height: auto;
}
.sketch__ventri img.top-spacing {
  position: relative;
  top: 36px;
}

@media (max-width: 600px) {
  .sketch__ventri .img-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .sketch__ventri .img-group img {
    width: 80%;
    height: auto;
    margin: auto;
  }
  .sketch__ventri img.top-spacing {
    top: 0;
  }
}
@media (max-width: 400px) {
  .sketch__ventri .img-group img {
    width: 100%;
  }
}
/*----LO-FI WIREFRAME SECTION STYLING----*/
.wireframe__ventri {
  margin: 60px 0;
  padding: 24px;
}
.wireframe__ventri h2 {
  margin-bottom: 24px;
  text-align: center;
}
.wireframe__ventri .img-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.wireframe__ventri .img-group img {
  width: 40%;
  height: auto;
}

@media (max-width: 600px) {
  .wireframe__ventri .img-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wireframe__ventri .img-group img {
    width: 100%;
    height: auto;
  }
}
/*----END OF LO-FI WIREFRAME SECTION STYLING----*/
/*----HI-FI WIREFRAME SECTION STYLING----*/
.high-fidelity {
  margin: 60px 0;
}
.high-fidelity .head-title {
  margin: 48px 0;
  text-align: center;
}
.high-fidelity .screens-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: rgb(164, 215, 231);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
  height: auto;
  padding: 24px;
}
.high-fidelity .screens-layout .description-container {
  width: 50%;
}
.high-fidelity .screens-layout .description-container h4 {
  margin-bottom: 12px;
}
.high-fidelity .screens-layout .description-container p {
  max-width: 600px;
}
.high-fidelity .screens-layout .image-container {
  width: 50%;
}
.high-fidelity .screens-layout .image-container img {
  width: 70%;
  height: auto;
  margin-bottom: 60px;
}

@media (max-width: 800px) {
  .high-fidelity .screens-layout {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .high-fidelity .screens-layout .image-container, .high-fidelity .screens-layout .description-container {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .high-fidelity .screens-layout .description-container {
    margin-left: unset;
  }
  .high-fidelity .screens-layout .image-container img {
    width: 90%;
    height: auto;
    margin-bottom: unset;
    margin-top: 24px;
  }
  .high-fidelity #column-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .high-fidelity #column-reverse .description-container {
    margin-top: 24px;
  }
}
/*----END OF HI-FI WIREFRAME SECTION STYLING----*/
/*----STYLE GUIDE SECTION STYLING----*/
.style-guide__ventri {
  margin: 60px 0;
  padding: 24px;
}
.style-guide__ventri h2 {
  margin-bottom: 24px;
  text-align: center;
}
.style-guide__ventri .img-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.style-guide__ventri .img-group img {
  width: 40%;
  height: auto;
}

@media (max-width: 600px) {
  .style-guide__ventri .img-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .style-guide__ventri .img-group img {
    width: 100%;
    height: auto;
  }
}
/*----END OF STYLE GUIDE SECTION STYLING----*/
.exception-styling {
  margin-right: 48px;
}

@media (max-width: 800px) {
  .exception-styling {
    margin-right: unset;
  }
}
.appreciation {
  text-align: center;
  text-transform: capitalize;
  margin: 60px 0;
}

/*=========END OF VENTRI MOBILE APP CSS STYLING=========*/
/*=========GREEN POULT WEBSITE CSS STYLING=========*/
.banner__poult {
  background-color: rgb(147, 226, 171);
  width: 100%;
  height: auto;
  padding: 24px;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.banner__poult img {
  width: 70%;
  height: auto;
  margin: auto;
}

@media (max-width: 600px) {
  .banner__poult {
    margin-top: 60px;
  }
  .banner__poult img {
    width: 90%;
  }
}
/*------ABOUT SECTION STYLING-----*/
.about-project__poult {
  padding: 24px;
}
.about-project__poult .image-container img {
  width: 80%;
  height: auto;
}

@media (max-width: 800px) {
  .about-project__poult .image-container img {
    width: 100%;
    height: auto;
  }
}
/*------END OF ABOUT SECTION STYLING-----*/
/*------DESIGN PROCESS SECTION STYLING-----*/
.design-process__poult {
  padding: 24px;
  margin: 60px 0;
}
.design-process__poult h2 {
  text-align: center;
  margin-bottom: 36px;
}
.design-process__poult main {
  max-width: 900px;
  margin: auto;
}
.design-process__poult .process-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 24px;
}
.design-process__poult .process-item__list {
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 350px;
  height: 400px;
}
.design-process__poult .process-item__list .process-img {
  width: 40px;
  height: auto;
  margin-bottom: 12px;
}
.design-process__poult .process-item__list h4, .design-process__poult .process-item__list p {
  margin-bottom: 12px;
}
.design-process__poult .process-item__list li {
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 500px;
}
.design-process__poult .process-item__list li img {
  width: 24px;
  height: auto;
  margin: 6px 12px 0 0;
}
.design-process__poult .blue-bg {
  background-color: rgb(199, 231, 241);
}
.design-process__poult .pink-bg {
  background-color: rgb(250, 220, 224);
}
.design-process__poult .cyan-bg {
  background-color: rgb(192, 241, 212);
}
.design-process__poult .magenta-bg {
  background-color: rgb(236, 205, 239);
}

@media (max-width: 800px) {
  .design-process__poult {
    padding: 24px;
    margin: 0 0 60px;
  }
}
/*------DESIGN STRAGEGY__GREENpOULT SECTION STYLING-----*/
.design-strategy {
  padding: 24px;
}
.design-strategy h2, .design-strategy p {
  text-align: center;
  margin-bottom: 24px;
}
.design-strategy main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 900px;
  margin: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.design-strategy .strategy-list {
  max-width: 300px;
  padding: 12px;
}
.design-strategy .strategy-list h4 {
  margin-bottom: 24px;
}
.design-strategy .strategy-list li {
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 500px;
}
.design-strategy .strategy-list li img {
  width: 24px;
  height: auto;
  margin: 6px 12px 0 0;
}

@media (max-width: 600px) {
  .design-strategy main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .design-strategy .strategy-list {
    margin-top: 24px;
  }
}
/*------END OF DESIGN STRAGEGY__GREENpOULT SECTION STYLING-----*/
/*------USER RESEARCH GREEN POULT SECTION STYLING-----*/
.user-research__poult {
  padding: 24px;
  background-color: rgb(146, 227, 169);
}
.user-research__poult .flex-row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.user-research__poult .description-container h2 {
  margin-bottom: 24px;
}
.user-research__poult .description-container p {
  max-width: 500px;
}
.user-research__poult .image-container img {
  width: 70%;
}

@media (max-width: 800px) {
  .user-research__poult .image-container img {
    width: 80%;
    margin: auto;
    margin-top: 24px;
  }
}
/*------END OF USER RESEARCH GREEN POULT SECTION STYLING-----*/
/*-----USER INTERVIEW SECTION STYLING-----*/
.user-interview {
  padding: 24px;
  margin: 60px 0;
}
.user-interview .flex-row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.user-interview .description-container {
  margin-right: 24px;
}
.user-interview .image-container img {
  width: 70%;
  height: auto;
  margin-left: 24px;
}

@media (max-width: 800px) {
  .user-interview {
    margin: 24px 0 0 0;
  }
  .user-interview .description-container {
    margin-right: unset;
  }
  .user-interview .image-container img {
    width: 80%;
    margin: 24px 0;
  }
}
/*-----END OF USER INTERVIEW SECTION STYLING-----*/
/*-----OBSERVATION SECTION STYLING-----*/
.Observation-section {
  padding: 24px;
}
.Observation-section .description-container h2 {
  margin-bottom: 24px;
}
.Observation-section .description-container p {
  margin-bottom: 24px;
}
.Observation-section .description-container li {
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 500px;
}
.Observation-section .description-container li img {
  width: 24px;
  height: auto;
  margin: 6px 12px 0 0;
}

@media (max-width: 800px) {
  .Observation-section .flex-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
/*-----END OF OBSERVATION SECTION STYLING-----*/
/*-----EMPATHY MAPPING SECTION STYLING-----*/
.empathy-mapping {
  padding: 24px;
  margin: 48px 0;
}
.empathy-mapping h2 {
  margin-bottom: 24px;
  text-align: center;
}
.empathy-mapping .img-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.empathy-mapping .img-group img {
  width: 40%;
  height: auto;
  background-color: rgb(248, 254, 249);
  padding: 12px;
}

@media (max-width: 600px) {
  .empathy-mapping .img-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .empathy-mapping .img-group img {
    width: 100%;
    height: auto;
  }
}
/*-----END OF EMPATHY MAPPING SECTION STYLING-----*/
/*-----USER PERSONA SECTION STYLING-----*/
.user-persona__poult {
  padding: 24px;
  margin: 48px 0;
}
.user-persona__poult h2 {
  margin-bottom: 24px;
  text-align: center;
}
.user-persona__poult .img-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.user-persona__poult .img-group img {
  width: 40%;
  height: auto;
}

@media (max-width: 600px) {
  .user-persona__poult .img-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .user-persona__poult .img-group img {
    width: 100%;
    height: auto;
  }
}
/*-----END OF USER PERSONA SECTION STYLING-----*/
/*-----SOLUTION SECTION POULT STYLING-----*/
.solution-section__poult {
  padding: 24px;
  background-color: rgb(146, 227, 169);
}
.solution-section__poult h2 {
  margin-bottom: 24px;
}
.solution-section__poult .description-container h4 {
  margin-bottom: 12px;
}
.solution-section__poult .description-container main {
  max-width: 500px;
}

/*-----END OF SOLUTION SECTION POULT STYLING-----*/
/*-----WIRERAME SECTIONS STYLING-----*/
.high-fidelity .screens-layout {
  background-color: unset;
}

.lo-fi__wireframe {
  padding: 24px;
  margin: 48px 0;
}
.lo-fi__wireframe h2 {
  text-align: center;
  margin-bottom: 24px;
}
.lo-fi__wireframe .img-group {
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}
.lo-fi__wireframe .img-group img {
  width: 33.3333333333%;
  height: auto;
}
.lo-fi__wireframe .img-group img:nth-child(2) {
  position: relative;
  top: 24px;
}
.lo-fi__wireframe .img-group img:nth-child(3) {
  position: relative;
  top: 48px;
}

@media (max-width: 700px) {
  .lo-fi__wireframe .img-group {
    padding: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .lo-fi__wireframe .img-group img {
    width: 80%;
    height: auto;
    margin-bottom: 24px;
  }
  .lo-fi__wireframe .img-group img:nth-child(2) {
    position: relative;
    top: 0;
  }
  .lo-fi__wireframe .img-group img:nth-child(3) {
    position: relative;
    top: 0;
  }
}
.high-fidelity__poult {
  padding: 24px;
  background: rgb(146, 227, 169);
}
.high-fidelity__poult h2 {
  text-align: center;
  margin-bottom: 36px;
}
.high-fidelity__poult img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  height: auto;
  margin: auto;
}

@media (max-width: 700px) {
  .high-fidelity__poult img {
    width: 100%;
  }
}
/*-----END OF WIRERAME SECTIONS STYLING-----*/
/*-----STYLE GUIDE SECTION STYLING-----*/
.style-guide__poult {
  margin: 60px 0;
  padding: 24px;
}
.style-guide__poult h2 {
  text-align: center;
  margin-bottom: 24px;
}
.style-guide__poult img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  height: auto;
  margin: auto;
}

@media (max-width: 700px) {
  .style-guide__poult img {
    width: 100%;
  }
}
/*-----END OF STYLE GUIDE SECTION STYLING-----*/
.conclusion__poult {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 800px;
  margin: auto;
  text-align: center;
}
.conclusion__poult h2 {
  margin-bottom: 24px;
}
.conclusion__poult p {
  margin-bottom: 36px;
}