html {
  scroll-behavior: smooth;
}

/*General styling*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  font-family: "Lato", sans-serif;
  width: 100%;
}

h1 {
  font-size: clamp(2rem, 3vw, 3rem);
}

h2 {
  font-size: clamp(1.72rem, 3vw, 2.5rem);
}

h4 {
  font-size: clamp(20px, 2.5vw, 24px);
}

h1, h2, h3 {
  font-family: "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #333333;
}

button {
  color: #fff;
  border: unset;
  padding: 15px 0px;
  background-color: #263250;
  font-size: 16px;
  border-radius: 8px;
  font-family: inherit;
  min-width: 150px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
button:hover {
  background-color: #4ec9ee;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  text-decoration: none !important;
  color: #fff;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link-color {
  color: #263250 !important;
}

/*=======NAVIGATION BAR STYLING========*/
nav {
  background: #fafafa;
  height: 60px;
  width: 100%;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav li {
  display: inline-block;
  line-height: 60px;
  margin: 0 5px;
}
nav li a {
  color: #333333;
  padding: 10px;
}

label.logo {
  padding: 0 40px;
}

.checkbtn {
  float: right;
  line-height: 60px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
.checkbtn img {
  width: 40px;
  height: auto;
  margin-top: 10px;
}

#check {
  display: none;
}

label.logo img {
  width: 45px;
  height: auto;
  margin-top: 6px;
}

@media only screen and (max-width: 952px) {
  label.logo img {
    width: 35px;
    margin-top: 12px;
  }

  nav li a {
    font-size: 16px;
  }
}
@media only screen and (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  #check:checked ~ ul {
    left: 0;
  }

  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #fafafa;
    top: 60px;
    left: -100%;
    text-align: center;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  nav li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
}
/*=======END OF NAVIGATION BAR STYLING========*/
/*=======HERO SECTION STYLING========*/
.hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 40px;
  width: 100%;
  margin-top: 48px;
}
.hero-section h2 {
  line-height: 1.2;
  margin-bottom: 24px;
}
.hero-section .description-container {
  padding-right: 24px;
}
.hero-section .description-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  margin-right: 24px;
  width: 65%;
}
.hero-section .description-container h1 {
  margin-bottom: 24px;
}
.hero-section .description-container a.underline {
  text-decoration: underline;
}
.hero-section .description-container button {
  margin-top: 24px;
  max-width: 150px !important;
}
.hero-section .image-container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero-section .image-container img {
  max-width: 80%;
  height: auto;
  margin: auto;
}

@media (max-width: 760px) {
  .hero-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .hero-section .description-container, .hero-section .image-container {
    width: 100%;
    padding-right: unset;
  }
  .hero-section .description-container {
    width: 100%;
    margin-bottom: 60px;
  }
  .hero-section .image-container img {
    width: 100%;
  }
}
/*=======END OF HERO SECTION STYLING========*/
.brand-section {
  margin: 96px 0;
  background-color: #fafafa;
  padding: 24px;
  width: 100%;
}
.brand-section h2 {
  text-align: center;
  margin-bottom: 48px;
}

.brand-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 48px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 12px;
}
.brand-list-container .brand-list {
  background-color: #fff;
  padding: 24px;
  width: 100px;
  height: 80px;
}
.brand-list-container img.brand-img {
  width: 80px;
  height: auto;
}

/*========SERVICE SECTION STYLING======*/
.service-section {
  margin-bottom: 48px;
}
.service-section h2 {
  margin-bottom: 48px;
  text-align: center;
}
.service-section .service-wrapper {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
  padding: 10px;
}
.service-section .service-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fafafa;
  padding: 12px;
}
.service-section .service-list span {
  width: 48px;
  height: 48px;
  padding: 12px;
  border-radius: 50%;
  margin-bottom: 24px;
}
.service-section .service-list .accentColor-1 {
  background-color: #e7a4a8;
}
.service-section .service-list .accentColor-2 {
  background-color: #a4d7e7;
}
.service-section .service-list .accentColor-3 {
  background-color: #e2a4e7;
}
.service-section .service-list img {
  width: 24px;
  height: auto;
}
.service-section .service-list h4 {
  margin-bottom: 12px;
}

/*========END OF SERVICE SECTION STYLING======*/
/*========PROJECT SECTION STYLING======*/
.project-section {
  margin: 96px 48px;
  padding: 12px;
}
.project-section h2 {
  text-align: center;
  margin-bottom: 48px;
}

.project-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.project-wrapper .project-list {
  display: inline-block;
  /* Make the width of box same as image */
  margin: 10px;
  position: relative;
}
.project-wrapper .project-list img {
  background: #34495e;
  max-width: 500px;
  max-height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.project-wrapper .project-list .absolute-btn {
  position: absolute;
  z-index: 10;
  left: 24px;
}
.project-wrapper .project-list .easy-flip {
  bottom: 20%;
}
.project-wrapper .project-list .ventri {
  top: 24%;
  left: 48px;
}
.project-wrapper .project-list .green-poult {
  bottom: 30%;
}

@media (max-width: 600px) {
  .project-wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .project-wrapper .project-list .absolute-btn {
    left: 12px;
  }
  .project-wrapper .project-list .ventri {
    left: 40px;
  }
  .project-wrapper img {
    width: auto;
    height: 350px;
  }
}
@media (max-width: 350px) {
  .project-wrapper img {
    width: auto;
    height: 300px;
  }
}
.footer-wrapper {
  text-align: center;
}
.footer-wrapper .bold {
  font-weight: bold;
  color: #263250;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer-wrapper .bold:hover {
  text-decoration: underline;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer-wrapper .social-links {
  margin: 12px 0 48px;
}
.footer-wrapper .svg-icon {
  background-color: #263250;
  padding: 8px;
  margin-right: 24px;
  width: 32px;
  height: auto;
}
.footer-wrapper .svg-icon img {
  width: 24px;
  height: auto;
  position: relative;
  top: 4px;
}
.footer-wrapper hr {
  margin-top: 24px;
  max-width: 900px;
  margin: auto;
}

.buttom-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 24px;
  margin-bottom: 48px;
}
.buttom-footer img {
  width: 32px;
  height: auto;
  position: relative;
  left: -20%;
}